body{
	background-color: black;
}

table{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
    height: 80vh;
	float: center;
}
td {
	text-align:center;
	line-height: 50%;
	color: black;
	background-color: black;
	float: center;
}

button{
	flex-wrap: wrap;
	align-items: flex-start;
	background-color: purple;
	font-size: 350%;
	width: 87%;
	line-height: 95%;
	
}